<style>
    footer {
    text-align: center;
    background-color: #ffffff42;
    color: rgb(60, 63, 65);
    bottom: 0;
    left: 0;
    height: 55px;
    position: fixed;
    width: 100%;
    }
</style>
<p>© Copyright 2021 Lucas Aquino</p>
