<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cadastro.css">

    <title>Cadastro</title>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <section class="container">
        <form method="POST" action="/auth/recept">
            <div id="lb-in">
                <label>Nome</label>
                <input type="text" name="name">

                <label>Email</label>
                <input type="email" name="email">

                <label>Senha</label>
                <input type="password" name="pass">

                <label>Confirmação de Senha</label>
                <input type="password" name="pass2">

                <button>Enviar</button>
            </div>
        </form>
    </section>

<footer><%- include('./partials/footer'); %></footer>
</body>

</html>