<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cadastro.css">

    <title>Cadastro</title>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <section class="container">
        <form method="POST" >
            <div id="lb-in">
                <label>Nome</label>
                <input type="text" name="name">

                <label>Cliente</label>
                <input type="text" name="text">

                <label>Empresa</label>
                <input type="text" name="text">

                <label>Obs:</label>
                <input type="text" name="text">

                <label>Data</label>
                <input type="date" id="date">


                <button>Efetuar Pedido</button>
            </div>
        </form>
    </section>

<footer><%- include('./partials/footer'); %></footer>
</body>

</html>