<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Login</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <section class="container">

            <button>Cadastro Empresa</button>
            <button>Cadastro Cliente</button>
            <button>Cadastro Produto</button>
            <button>Fazer Pedido</button>

        </section>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>