@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: rgb(158, 158, 158);
    --primary-color2: rgb(87, 85, 85);
    --primary-color-dark: rgba(39, 39, 39, 0.322);
}

* {
    box-sizing: border-box;
    outline: 0;
}

section {
    text-align: center;
}

body {
    
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}